

      <!-- Footer -->
      <footer class="footer" style="padding-bottom: 0%; margin-bottom: 0; margin-top: auto; text-align: center; background-color: #f8f9fa;">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a href="#" class="font-weight-bold ml-1" target="_blank">Back to HOME</a>
            </div>
          </div>
          <div class="col-xl-6" style="margin-bottom: 0%;">
            <div class="text-center text-xl-right text-muted">
              <a href="#" class="font-weight-bold ml-1" target="_blank"> &copy; DMU</a> 
              <span style="font-size: 8px;"><a target="_blank" href="#">mcga</a></span>
            </div>
          </div>
        </div>
      </footer>
