{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Add New Contact {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="col-lg-12">
         <br>
            <br>
        <div class="card">
           
        <div class="card-body">
        <div class="text-right">
            <a href="{% url 'contact_view' %}" class="btn btn-secondary mt-4">View all</a>
        </div>
        <div class="text-center text-muted mb-4">
            <h2>ARSRL STAFF</h2>
              <hr>
        </div>
        <form method="POST" action="{% url 'add_contact' %}" autocomplete="on" id="contactform">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="Staff_Name">Name of ARSRL Staff:</label>
                                    {{ form.Staff_Name|append_attr:"class:form-control" }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="Staff_License">License Number:</label>
                                    {{ form.Staff_Name|append_attr:"class:form-control" }}
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                
                                <div class="form-group">
                                    <label class="form-control-label" for="Staff_Designation">Designation:</label>
                                    {{ form.Staff_License|append_attr:"class:form-control" }}
                                </div>
                            </div>
                        </div>
                      
                        <div class="row">
                            
                             <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="Staff_Telnum">Telephone Number:</label>
                                    {{ form.Staff_Telnum|append_attr:"class:form-control" }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="Staff_EmailAdd">Email Address:</label>
                                    {{ form.Staff_EmailAdd|append_attr:"class:form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
                <a href="{% url 'raw_data' %}" class="btn btn-secondary mt-4">Back</a>
                <button type="button" class="btn btn-success mt-4" onclick="refresh()">Clear</button>
            </div>
        </form>
    </div>
    </div>
</div>
</div>

<script>
    function refresh() {
        document.getElementById("contactform").reset();
    }
</script>
{% endblock content %}