{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block title %} Demographic Data {% endblock title %}

{% block content %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" href="{% static 'assets/css/arsp.css' %}">

<!-- style for back to top button -->
<style>
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  height: 50px;
  
}

#myform{
  font-size: small;
}

label.form-control-label{
  font-size: small;
}

.fontsize{
  font-size: large;
  color: blue;
  font-weight: bold;
}

.fontlarge{
  font-size: large;
}

#greetingText {
  font-weight: 600;
}

#currentTime {
  font-size: 0.85rem;
  letter-spacing: 1px;
}


</style>
{% endblock stylesheets %}



<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 200px; background-size: auto; background-image: url(/static/assets/img/theme/microbial.jpg); background-size: cover; background-position: center bottom;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-6"></span>
  <!-- Header container -->
<div class="container-fluid d-flex justify-content-start">
  <div class="row">
    <div class="col text-left">

      <h5 class="text-white mb-1" id="greetingText" style="letter-spacing: 0.5px;">
        Hello, {{ request.user.username }}
      </h5>

      <small class="text-white-50" id="currentTime">
        <!-- time will appear here -->
      </small>

    </div>
  </div>
</div>

</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
 
<!-- DEMOGRAPHIC DATA -->

    <div class="col-xl-12 order-xl-1">
      <form method="POST" 
      action="{% if isolates %}{% url 'edit_data' isolates.id %}{% endif %}" 
      autocomplete="on" id="myform">

      <datalist id="enris-options">
        <option value="R">
        <option value="I">
        <option value="S">
        <option value="SDD">
        <option value="NS">
      </datalist>


        {% csrf_token %}

      <div class="form-card" >
        <div class="card-header" id="mytop">
          <div class="row align-items-center">
            <!-- <div class="col-8">
               <h3 class="mb-0">SURVEILLANCE SITE INFORMATION </h3> 
            </div> -->
            <div class="col-12">
              <br>
              <div class="row">
                <div class="col-lg-2">
                  <div class="form-group" >
                      <label class="form-control-label" for="SiteCode">SITE CODE</label>
                      <div class="d-flex align-items-center">
                      {{ form.SiteCode| append_attr:"class: form-control "}} 
                      <span><a href="{% url 'add_dropdown' %}" class="col-4 shortcut-item" style="padding: 0;">
                      <span class="ni ni-settings" style="margin-left: 10px; line-height: 0; vertical-align: text-bottom;"></span>
                      </a></span>
                      </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group" >
                  <label class="form-control-label" for=" Referral_Date">Referral Date</label>
                  {{form.Referral_Date| append_attr:"class: form-control " }}
                  </div>
                </div>
               <div class="col-lg-2">
                  <div class="form-group" >
                  <label class="form-control-label" for="BatchNo">Batch No</label>
                  {{form.BatchNo| append_attr:"class: form-control " }}
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group" >
                  <label class="form-control-label" for="RefNo">Reference No</label>
                  {{form.RefNo| append_attr:"class: form-control " }}
                  </div>
                </div>
              <div class="col-4 text-right">
                <button class="btn btn-sm btn-success" onclick="history.back()">Back </button>
                <a href="{% url 'batch_create_view' %}" class="btn btn-sm btn-primary">New Batch</a>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <a href="{% url 'show_data' %}" class="btn btn-sm btn-primary">View Records</a>  
                <a href="{% url 'add_breakpoints' %}" class="btn btn-warning btn-sm">Breakpoints</a>
                
              </div>
              </div>
             
           
<br>
                   
            <div class="row">
                  <div class="col-lg-4">
                  <div class="form-group">
                    <label class='form-control-label' for='Site_Name'>Site Name</label>
                    {{form.Site_Name| append_attr:"class: form-control fontsize"}}
                  </div>
                  </div>
                <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" for="AccessionNo">Accession Number</label>
                  {{form.AccessionNo| append_attr:"class: form-control fontsize"}} 
              </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label" for="Batch_Name">Batch Name</label>
                  {{form.Batch_Code| append_attr:"class: form-control fontsize"}} 
              </div>
              </div>
                <div class="col-lg-1">
                <div class="form-group">
                  <label class="form-control-label" for="bat_seq">Seq. No.</label>
                  {{form.bat_seq| append_attr:"class: form-control fontsize"}} 
              </div>
              </div>
              <div class="col-lg-1">
                <div class="form-group">
                  <label class="form-control-label" for="Batch_id"></label>
                  {{ form.Batch_id|append_attr:"class:form-control fontsize,disabled:true" }}
              </div>
              </div>
            </div>
       
        </div>
    
      </div> <!--mother tab content-->
     <ul class="nav nav-tabs card-header-tabs" role="tablist" style="margin-top: 20px;"> 
        <li class="nav-item">
          <button class="nav-link active" href="#tabcontent1"  id="tab1" data-toggle="tab" role="tab">SENTINEL SITE DATA</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" href="#tabcontent2" id="tab2"  data-toggle="tab" role="tab" >ARSRL STY RESULTS</button>
        </li>
    </ul>
        <div class="card-body">
 
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabcontent1" role="tabpanel" aria-labelledby="tab1">
           <br>
           
           <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">PATIENT INFORMATION</h6>
           <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">

              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="Patient_ID">Patient No</label>
                    {{form.Patient_ID| append_attr:"class: form-control"}}
                 
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="First_Name">First Name</label>
                    {{form.First_Name|append_attr:"class: form-control"}}
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="Mid_Name">Middle Name</label>
                    {{form.Mid_Name| append_attr:"class: form-control"}}
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class='form-control-label' for='Last_Name'>Last Name</label> 
                   {{form.Last_Name|append_attr:"class: form-control"}}
                  </div>
                </div>
              </div>
          <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                  <label class='form-control-label' for='Date_Birth'>Date of Birth</label>
                  {{form.Date_Birth| append_attr:"class: form-control"}}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Age'>Age</label> {{form.Age| append_attr:"class: form-control"}}
                </div>
              </div>
                <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Sex'>Sex</label> {{form.Sex| append_attr:"class: form-control"}}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class='form-control-label' for='Date_Admis'>Date of Admission</label> {{form.Date_Admis| append_attr:"class: form-control"}}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Nosocomial'>Nosocomial</label> {{form.Nosocomial | append_attr:"class: form-control" }}
                </div>
              </div>
        </div>

          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label class='form-control-label' for='Diagnosis'>Diagnosis</label> {{form.Diagnosis| append_attr:"class: form-control" }}
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class='form-control-label' for='Diagnosis_ICD10'>ICD-10</label> {{form.Diagnosis_ICD10| append_attr:"class: form-control" }}
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class='form-control-label' for='Ward'>Ward</label> {{form.Ward| append_attr:"class: form-control" }}
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class='form-control-label' for='Service_Type'>Service Type</label> {{form.Service_Type| append_attr:"class: form-control" }}
              </div>
            </div>
           
          </div>

          <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ISOLATE INFORMATION</h6>
           <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Spec_Num'>Specimen No</label> {{form.Spec_Num | append_attr:"class: form-control" }}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Spec_Date'>Specimen Date</label> {{form.Spec_Date|append_attr:"class: form-control" }}
                </div>
              </div>
                  <div class="col-lg-2">
                              <div class="form-group">
                                <label class="form-control-label" for="Spec_Type">Specimen Type <span><a href="{% url 'add_specimen' %}" class="col-4 shortcut-item" style="padding: 0;">
                                  <span class="ni ni-settings" style="margin-left: 10px; line-height: 0; vertical-align: middle;"></span>
                                  </a></span></label> {{form.Spec_Type| append_attr:"class: form-control"}}
                                <div class="d-flex align-items-left">
                                </div>
                              </div>
                            </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Reason'>Reason for referral</label> {{form.Reason| append_attr:"class: form-control" }}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Growth'>Growth</label> {{form.Growth| append_attr:"class: form-control" }}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Urine_ColCt'>Urine Col ct</label> {{form.Urine_ColCt| append_attr:"class: form-control" }}
                </div>
              </div>

            </div>

            
          
  

<!-- PHENOTYPIC RESULTS -->
          
            <!-- Address -->
            <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">PHENOTYPIC RESULTS</h6>
            <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">

            <div class="pl-lg-12">
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='ampC'>ampC</label> {{form.ampC | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='ESBL'>ESBL</label> {{form.ESBL | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='CARB'>CARB</label> {{form.CARB | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='MBL'>MBL</label> {{form.MBL | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='BL'>BL</label> {{form.BL | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='MR'>MR</label> {{form.MR | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='mecA'>mecA</label> {{form.mecA | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='ICR'>ICR</label> {{form.ICR | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class='form-control-label' for='OtherResMech'>Other</label> {{form.OtherResMech | append_attr:"class: form-control" }}
                  </div>
                </div>

              </div>
        
            <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ORGANISM RESULTS</h6>
            <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">

                        <div class="pl-lg-12">
  
                          <div class="row">
                             <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='Site_Pre'>Site Pre</label> {{form.Site_Pre| append_attr:"class: form-control" }}
                              </div>
                            </div>
                               <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for="id_Site_Org">Organism Code</label> {{form.Site_Org| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='Site_OrgName'>Organism Name</label> {{form.Site_OrgName| append_attr:"class: form-control" }}
                              </div>
                            </div>
                         
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='Site_Pos'>Site Post</label> {{form.Site_Pos| append_attr:"class: form-control" }}
                              </div>
                            </div>
                          </div>
                          </div>
           

      
        <!--MEDICAL HISTORY-->
        
               <div class="pl-lg-12">
              <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ANTIMICROBIAL SUSCEPTIBILITY TEST RESULTS</h6>
              <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
              </div>

<div id="antibiotic-container">
  <div class="col-lg-12">
    <div class="row">
      <div class="mb-3">
        <div class="input-group" style="max-width: 300px;">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-search"></i>
            </span>
          </div>
<input type="text"
       id="antibioticSearchMain"
       class="form-control"
       placeholder="Search antibiotic..."
       onkeyup="filterAntibiotics()">

        </div>
    </div>
    </div>
    <div class="row">

      <!-- 🧫 DISK DIFFUSION -->
      <div class="col-lg-6">
        <h6 class="heading-small text-muted mb-4">DISK DIFFUSION</h6>
        <div class="card border-info mb-3">
          <div class="card-body text-info">
            <!-- edit this -->
            <div class="table-responsive" style="max-height: 500px; overflow-y: auto; "> 
              <table class="table align-items-center text-center table-sm" style="width: 100%;">

                <thead class="thead-light">
                  <tr style="line-height: 15px;">
                    <th>ANTIBIOTIC</th>
                    <th>WHONET CODE</th>
                    <th>TEST RESULT</th>
                    <th>RIS</th>
                  </tr>
                </thead>
                <tbody id="disk-antibiotics">
                  {% if antibiotics_main %}
                    {% for entry in antibiotics_main|dictsort:"Whonet_Abx" %}
                      {% if entry.Disk_Abx %}
                        <tr>
                          <td>{{ entry.Antibiotic }}</td>
                          <td>{{ entry.Whonet_Abx }}</td>
                          <td>
                            <input name="disk_{{ entry.Whonet_Abx }}" 
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'disk' %}" 
                                   type="number" min="0" style="width: 70px;">
                          </td>
                          <td>
                            <input name="disk_enris_{{ entry.Whonet_Abx }}" 
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'disk_enris' %}" 
                                   type="text" style="width: 50px; text-align: center;" list="enris-options">
                          </td>
                        
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <tr><td colspan="6">No antibiotics available</td></tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- 💧 MIC RESULTS -->
      <div class="col-lg-6">
        <h6 class="heading-small text-muted mb-4">MIC RESULTS</h6>
        <div class="card border-info mb-3">
          <div class="card-body text-info">
            <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
              <table class="table align-items-center text-center table-sm" style="width: 100%;">

                <thead class="thead-light">
                  <tr style="line-height: 15px;">
                    <th>ANTIBIOTIC</th>
                    <th>WHONET CODE</th>
                    <th>OPERAND</th>
                    <th>TEST RESULT</th>
                    <th>RIS</th>
                    <th>ALERT MIC</th>
                  </tr>
                </thead>
                <tbody id="mic-antibiotics">
                  {% if antibiotics_main %}
                    {% for entry in antibiotics_main|dictsort:"Whonet_Abx" %}
                      {% if not entry.Disk_Abx %}
                        <tr>
                          <td>{{ entry.Antibiotic }}</td>
                          <td>{{ entry.Whonet_Abx }}</td>
                          <td>
                            <input type="text" name="mic_operand_{{ entry.Whonet_Abx }}"
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'mic_operand' %}"
                                   style="width: 50px;">
                          </td>
                          <td>
                            <input name="mic_{{ entry.Whonet_Abx }}" 
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'mic' %}" 
                                   type="number" min="0" step="0.001" style="width: 70px;">
                          </td>
                          <td>
                            <input name="mic_enris_{{ entry.Whonet_Abx }}"
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'mic_enris' %}" 
                                   type="text" style="width: 50px; text-align: center;" list="enris-options">
                          </td>
                          <td>
                            {% get_existing_value existing_entries entry.Whonet_Abx 'alert_mic' as alert_mic_checked %}
                            <input type="checkbox" 
                                   name="alert_mic_{{ entry.Whonet_Abx }}" 
                                   style="transform: scale(1.5); margin: 4px;"
                                   {% if alert_mic_checked %}checked{% endif %}>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <tr><td colspan="6">No antibiotics available</td></tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
          </div> 
        <!-- end of table for antibiotics -->
                <div class="row">
                  <div class="col-lg-12">
                              <div class="form-group">
                                <label class='form-control-label' for='Comments'>Commments</label> {{form.Comments| append_attr:"class: form-control" }}
                              </div>
                        </div>
                </div>
              </div>
      <!-- end of first tab -->
   
                <!--LABORATORY RESULTS-->
                <div class="tab-pane fade" id="tabcontent2" role="tabpanel" aria-labelledby="tab2" >
                  <br>
                  <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ORGANISM INFORMATION</h6>
                  <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
                  <div class="pl-lg-12">
                          <div class="row">
                            
                            <div class="col-lg-2">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_ampC'>ampC</label> {{form.ars_ampC| append_attr:"class: form-control" }}
                              </div>
                            </div>
                           <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_ESBL'>ESBL</label> {{form.ars_ESBL| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_CARB'>CARB</label> {{form.ars_CARB| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_ECIM'>ECIM</label> {{form.ars_ECIM| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_MCIM'>MCIM</label> {{form.ars_MCIM| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_EC_MCIM'>EC MCIM</label> {{form.ars_EC_MCIM| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_MBL'>MBL</label> {{form.ars_MBL| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_BL'>BL</label> {{form.ars_BL| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_MR'>MR</label> {{form.ars_MR| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_mecA'>mecA</label> {{form.ars_mecA| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_ICR'>ICR</label> {{form.ars_ICR| append_attr:"class: form-control" }}
                              </div>
                            </div>
                          </div>

                          <div class="row">
                             <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_Pre'>ARSRL Pre</label> {{form.ars_Pre| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='id_ars_OrgCode'>Organism Code</label> {{form.ars_OrgCode| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_OrgName'>Organism Name</label> {{form.ars_OrgName| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_Post'>ARSRL Post</label> {{form.ars_Post| append_attr:"class: form-control" }}
                              </div>
                            </div>
                          </div>
                          <br>
               <div class="pl-lg-12">
              <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ANTIMICROBIAL SUSCEPTIBILITY TEST RESULTS</h6>
              <hr class="border border-primary border-3 opacity-75 " style="margin-top:0; padding-top: 0%;">
              </div>

<div id="retest-container">
<div class="col-lg-12">
      <div class="row">
      <div class="mb-3">
        <div class="input-group" style="max-width: 300px;">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-search"></i>
            </span>
          </div>
<input type="text"
       id="antibioticSearchRetest"
       class="form-control"
       placeholder="Search retest antibiotic..."
       onkeyup="filterRetestAntibiotics()">

        </div>
    </div>
    </div>
  <div class="row">

    <!-- 🧫 RETEST DISK DIFFUSION -->
    <div class="col-lg-6">
      <h6 class="heading-small text-muted mb-4">RETEST - DISK DIFFUSION</h6>
      <div class="card border-info mb-3">
        <div class="card-body text-info">
          <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
            <table class="table align-items-center text-center table-sm" style="width: 100%;">
              <thead class="thead-light">
                <tr style="line-height: 15px;">
                  <th scope="col">ANTIBIOTIC</th>
                  <th scope="col">WHONET CODE</th>
                  <th scope="col">TEST RESULT</th>
                  <th scope="col">RIS</th>
                </tr>
              </thead>
              <tbody id="retest-disk-antibiotics">
                {% if antibiotics_retest%}
                  {% for retest in antibiotics_retest|dictsort:"Whonet_Abx" %}
                    {% if retest.Disk_Abx %}
                      <tr>
                        <td>{{ retest.Antibiotic }}</td>
                        <td>{{ retest.Whonet_Abx }}</td>
                        <td>
                          <input name="retest_disk_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_disk' %}"
                                 type="number" min="0" style="width: 70px;">
                        </td>
                        <td>
                          <input name="retest_disk_enris_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_disk_enris' %}"
                                 type="text" style="width: 50px; text-align: center;" list="enris-options">
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <tr><td colspan="5">No retest disk antibiotics available</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 💧 RETEST MIC RESULTS -->
    <div class="col-lg-6">
      <h6 class="heading-small text-muted mb-4">RETEST - MIC RESULTS</h6>
      <div class="card border-info mb-3">
        <div class="card-body text-info">
          <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
            <table class="table align-items-center text-center table-sm" style="width: 100%;">
              <thead class="thead-light">
                <tr style="line-height: 15px;">
                  <th scope="col">ANTIBIOTIC</th>
                  <th scope="col">WHONET CODE</th>
                  <th scope="col">OPERAND</th>
                  <th scope="col">TEST RESULT</th>
                  <th scope="col">RIS</th>
                  <th scope="col" style="width: 98px;">ALERT MIC</th>
                </tr>
              </thead>
              <tbody id="retest-mic-antibiotics">
                {% if antibiotics_retest %}
                  {% for retest in antibiotics_retest|dictsort:"Whonet_Abx" %}
                    {% if not retest.Disk_Abx %}
                      <tr>
                        <td>{{ retest.Antibiotic }}</td>
                        <td>{{ retest.Whonet_Abx }}</td>
                        <td>
                          <input name="retest_mic_operand_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_mic_operand' %}"
                                 type="text" style="width: 50px;">
                        </td>
                        <td>
                          <input name="retest_mic_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_mic' %}"
                                 type="number" min="0" step="0.001" style="width: 70px;">
                        </td>
                        <td>
                          <input name="retest_mic_enris_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_mic_enris' %}"
                                 type="text" style="width: 50px; text-align: center;" list="enris-options">
                        </td>
                        <td>
                          {% get_existing_value retest_entries retest.Whonet_Abx 'retest_alert_mic' as retest_alert_mic_checked %}
                          <input type="checkbox" 
                                 name="retest_alert_mic_{{ retest.Whonet_Abx }}"
                                 style="transform: scale(1.5); margin: 4px;"
                                 {% if retest_alert_mic_checked %}checked{% endif %}>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <tr><td colspan="7">No retest MIC antibiotics available</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<div class="pl-lg-12">
<h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">CONFIRMATORY TEST RESULTS</h6>
 <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
  <div class="row">
     <div class="col-lg-12">
   
              <div class="row">
            <div class="col-lg-6">
                  <div class="form-group">
                  <label class='form-control-label' style="text-align: center; font-size: large; margin-bottom: 0;"> ESBL</label>
                  </div>
            </div>
              <div class="col-lg-3">
                  <div class="form-group">
                  <label class='form-control-label'style="text-align: center; font-size: large; margin-bottom:0">ampC</label> 
                  </div>
            </div>
                <div class="col-lg-3">
                  <div class="form-group">
                  <label class='form-control-label' style="text-align: center; font-size: large; margin-bottom: 0;">MBL</label>
                  </div>
            </div>
        </div>
        <div class="row">
          
            <div class="col-lg-3">
                  <div class="form-group">
                  <label class='form-control-label' for='ars_ct_ctl'> CT/CTL</label> {{form.ars_ct_ctl| append_attr:"class: form-control"}}
                  </div>
            </div>
              <div class="col-lg-3">
                  <div class="form-group">
                  <label class='form-control-label' for='ars_tz_tzl'> TZ/TZL</label> {{form.ars_tz_tzl| append_attr:"class: form-control"}}
                  </div>
            </div>
            
              <div class="col-lg-3">
                  <div class="form-group">
                  <label class='form-control-label' for='ars_cn_cni'>CN/CNI</label> {{form.ars_cn_cni| append_attr:"class: form-control"}}
                  </div>
            </div>
                <div class="col-lg-3">
                  <div class="form-group">
                  <label class='form-control-label' for='ars_ip_ipi'> IP/IPI</label> {{form.ars_ip_ipi| append_attr:"class: form-control"}}
                  </div>
            </div>
        </div>
    
     </div>
  </div>
</div>




              <div class="pl-lg-12">
              <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">RECCOMENDATION</h6>
              <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
          
              <div class="row">
            
               
                 
                    <div class="col-lg-12">
                      <div class="row">
                      
                        <div class="col-lg-5">
                              <div class="row">
                                <div class="col-lg-12">
                              <div class="form-group">
                                    <label class='form-control-label' for='ars_reco_Code'>Recomendation No</label> {{form.ars_reco_Code| append_attr:"class: form-control"}}
                              </div>
                              </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                              <div class="form-group">
                                    <label class='form-control-label' for='ars_description'>Description</label> {{form.ars_description| append_attr:"class: form-control"}}
                              </div>
                              </div>
                              </div>
                      </div>
                      <div class="col-lg-7">
                          <div class="form-group">                    
                              <label class='form-control-label' for='ars_reco'>Recommendation</label> {{form.ars_reco| append_attr:"class: form-control"}}
                          </div>
                        </div>
                        </div>
                        </div>
                       
                       
                    
              </div> </div>
               <!--tabcontent 2-->
            </div> <!--card body-->
        </div>




            
        </form> <!---end of form with post method-->  
      </div> <!--card-->
        <div class="col-12 text-left">
          <div class="col-6">
          <!-- <button class="btn btn-sm btn-primary" onclick="topFunction()" id="myBtn" title="Go to top">Go to Top</button> -->
           <!-- <a href="#mytop" class="btn btn-sm btn-primary">Back to top</a> -->
           <button type="button" onclick="topFunction()" id="myBtn" title="gototop" class="btn btn-sm btn-primary"> Back to top</button>
          </div>
        </div>
      </div>
    </div>
      
 
{% endblock content %}
  {% include "includes/footer.html" %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- ================= BACK TO TOP ================= -->
<script>
let mybutton = document.getElementById("myBtn");

window.onscroll = function () {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
};

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<!-- ================= AGE CALCULATOR ================= -->
<script>
function calculateAge() {
    const birthInput = document.getElementById('id_Date_Birth')?.value;
    const consultInput = document.getElementById('id_Spec_Date')?.value;
    const ageField = document.getElementById('id_Age');

    if (!birthInput || !consultInput) {
        ageField.value = '';
        return;
    }

    const birthdate = new Date(birthInput);
    const consultDate = new Date(consultInput);

    if (isNaN(birthdate) || isNaN(consultDate) || consultDate < birthdate) {
        ageField.value = '';
        return;
    }

    let age = consultDate.getFullYear() - birthdate.getFullYear();
    const m = consultDate.getMonth() - birthdate.getMonth();
    if (m < 0 || (m === 0 && consultDate.getDate() < birthdate.getDate())) {
        age--;
    }

    ageField.value = age;
}

document.getElementById('id_Date_Birth')?.addEventListener('change', calculateAge);
document.getElementById('id_Spec_Date')?.addEventListener('change', calculateAge);
</script>

<!-- ================= ORGANISM AUTOFILL ================= -->
<script>
document.addEventListener("DOMContentLoaded", function () {

    function bindOrganismAutofill(codeSelectId, nameInputId) {
        const codeSelect = document.getElementById(codeSelectId);
        const nameInput  = document.getElementById(nameInputId);

        if (!codeSelect || !nameInput) return;

        function fetchAndFill() {
            if (!codeSelect.value) return;

            fetch(`/get_organism_name/?org_code=${encodeURIComponent(codeSelect.value)}&field_key=Organism`)
                .then(res => res.json())
                .then(data => {
                    if (data.Organism) {
                        nameInput.value = data.Organism;
                    }
                })
                .catch(err => console.error("Organism lookup error:", err));
        }

        codeSelect.addEventListener("change", fetchAndFill);

        // EDIT MODE AUTO-FILL
        if (codeSelect.value && !nameInput.value) {
            fetchAndFill();
        }
    }

    bindOrganismAutofill("id_Site_Org", "id_Site_OrgName");
    bindOrganismAutofill("id_ars_OrgCode", "id_ars_OrgName");
});
</script>

<!-- ================= ANTIBIOTIC LOADER ================= -->
<script>
let antibioticsLoaded = {
    site: true,   // already rendered by Django
    ars: true     // already rendered by Django
};

function loadAntibiotics(org, retest = false) {
    if (!org) return;

    // Prevent reload unless explicitly forced
    if (!retest && antibioticsLoaded.site) return;
    if (retest && antibioticsLoaded.ars) return;

    const isolateId = "{{ isolates.id }}";
    const url = `/ajax/filter-antibiotics/?isolate_id=${isolateId}&org=${encodeURIComponent(org)}&retest=${retest ? 1 : 0}`;

    fetch(url)
        .then(res => res.json())
        .then(data => {

            const diskTbody = retest
                ? document.getElementById("retest-disk-antibiotics")
                : document.getElementById("disk-antibiotics");

            const micTbody = retest
                ? document.getElementById("retest-mic-antibiotics")
                : document.getElementById("mic-antibiotics");

            if (!diskTbody || !micTbody) return;

            //  CLEAR ONLY WHEN RELOADING
            diskTbody.innerHTML = "";
            micTbody.innerHTML = "";

            data.antibiotics.forEach(abx => {
                const prefix = retest ? "retest_" : "";
                const code = abx.whonet;

                if (abx.is_disk) {
                    diskTbody.insertAdjacentHTML("beforeend", `
                        <tr>
                            <td>${abx.name}</td>
                            <td>${code}</td>
                            <td>
                                <input type="number"
                                       name="${prefix}disk_${code}"
                                       class="form-control form-control-sm"
                                       style="width:70px; height: 10px">
                            </td>
                            <td>
                                <input type="text"
                                       name="${prefix}disk_enris_${code}"
                                       list="enris-options"
                                       class="form-control form-control-sm"
                                       style="width:70px; text-align:center; height: 10px">
                            </td>
                        </tr>
                    `);
                } else {
                    micTbody.insertAdjacentHTML("beforeend", `
                        <tr>
                            <td>${abx.name}</td>
                            <td>${code}</td>
                            <td>
                                <input type="text"
                                       name="${prefix}mic_operand_${code}"
                                       class="form-control form-control-sm"
                                       style="width:70px; height: 10px">
                            </td>
                            <td>
                                <input type="number"
                                       step="0.001"
                                       name="${prefix}mic_${code}"
                                       class="form-control form-control-sm"
                                       style="width:70px; height: 10px">
                            </td>
                            <td>
                                <input type="text"
                                       name="${prefix}mic_enris_${code}"
                                       list="enris-options"
                                       class="form-control form-control-sm"
                                       style="width:70px; text-align:center; height: 10px">
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="${prefix}alert_mic_${code}"
                                       style="transform: scale(1.5); margin:4px;">
                            </td>
                        </tr>
                    `);
                }
            });

            if (retest) antibioticsLoaded.ars = true;
            else antibioticsLoaded.site = true;
        })
        .catch(err => console.error("Antibiotic load error:", err));
}
</script>



<!-- ================= AUTO LOAD + CHANGE HANDLERS ================= -->
<script>
document.addEventListener("DOMContentLoaded", function () {

    const siteOrgField = document.getElementById("id_Site_Org");
    const arsOrgField  = document.getElementById("id_ars_OrgCode");


    // LOAD ONLY WHEN ORGANISM CHANGES
    siteOrgField?.addEventListener("change", function () {
        if (!this.value) return;

        if (!confirm("Changing Organism will clear current entries. Continue?")) {
            return;
        }

        antibioticsLoaded.site = false;   // 👈 reset
        loadAntibiotics(this.value, false);
    });

    arsOrgField?.addEventListener("change", function () {
        if (!this.value) return;

        if (!confirm("Changing ARS Organism will clear current retest entries. Continue?")) {
            return;
        }

        antibioticsLoaded.ars = false;
        loadAntibiotics(this.value, true);
    });
});
</script>


<!-- ================= TAB SWITCH LOADER ================= -->
<script>
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    const targetId = $(e.target).attr("href");

    const siteOrg = $('#id_Site_Org').val();
    const arsOrg  = $('#id_ars_OrgCode').val();

    if (targetId === '#tabcontent1' && siteOrg && !antibioticsLoaded.site) {
        loadAntibiotics(siteOrg, false);
    }

    if (targetId === '#tabcontent2' && arsOrg && !antibioticsLoaded.ars) {
        loadAntibiotics(arsOrg, true);
    }
});
</script>

<script>
function updateGreetingAndTime() {
  const now = new Date();
  const hours = now.getHours();

  let greeting = "Hello";
  if (hours < 12) greeting = "Good morning";
  else if (hours < 18) greeting = "Good afternoon";
  else greeting = "Good evening";

  const timeString = now.toLocaleTimeString([], {
    hour: '2-digit',
    minute: '2-digit'
  });

  document.getElementById("greetingText").innerText =
    `${greeting}, {{ request.user.username }}`;

  document.getElementById("currentTime").innerText =
    timeString;
}

// initial load
updateGreetingAndTime();

// update every minute
setInterval(updateGreetingAndTime, 60000);
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {

  const recoSelect = document.getElementById("id_ars_reco_Code");
  const descField = document.getElementById("id_ars_description");

  if (!recoSelect || !descField) return;

  recoSelect.addEventListener("change", function () {

    const selectedValue = this.value;

    if (!selectedValue) {
      descField.value = "";
      return;
    }

    fetch("{% url 'get_recommendation_description' %}?reco_code=" + encodeURIComponent(selectedValue))
      .then(response => response.json())
      .then(data => {
        descField.value = data.description || "";
      })
      .catch(() => {
        descField.value = "";
      });

  });

});
</script>


<script>
function filterAntibiotics() {
    const input = document.getElementById("antibioticSearchMain");
    const filter = input.value.toUpperCase();

    const tables = [
        document.getElementById("disk-antibiotics"),
        document.getElementById("mic-antibiotics")
    ];

    tables.forEach(tbody => {
        if (!tbody) return;

        const rows = tbody.getElementsByTagName("tr");

        for (let i = 0; i < rows.length; i++) {
            const firstCell = rows[i].getElementsByTagName("td")[0];
            if (!firstCell) continue;

            const textValue = firstCell.textContent || firstCell.innerText;

            rows[i].style.display =
                textValue.toUpperCase().includes(filter) ? "" : "none";
        }
    });
}
</script>


<script>
function filterRetestAntibiotics() {
    const input = document.getElementById("antibioticSearchRetest");
    const filter = input.value.toUpperCase();

    const tables = [
        document.getElementById("retest-disk-antibiotics"),
        document.getElementById("retest-mic-antibiotics")
    ];

    tables.forEach(tbody => {
        if (!tbody) return;

        const rows = tbody.getElementsByTagName("tr");

        for (let i = 0; i < rows.length; i++) {
            const firstCell = rows[i].getElementsByTagName("td")[0];
            if (!firstCell) continue;

            const textValue = firstCell.textContent || firstCell.innerText;

            rows[i].style.display =
                textValue.toUpperCase().includes(filter) ? "" : "none";
        }
    });
}
</script>


{% endblock javascripts %}



