{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}System Settings{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/settings.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/arsp.css' %}">


{% endblock stylesheets %}

{% block content %}

<div class="container-fluid mt-5">
<h2><i class="fas fa-cogs mr-2"></i> System Settings </h2>
<br>
    <div class="row mt--10">

        <!-- LEFT SIDEBAR -->
        <div class="col-md-4 col-lg-3 ">

            <div class="card">
                <div class="card-header" style="background: linear-gradient(135deg, #e8f5f7 0%, #d1e8ed 100%);
                    border-bottom: 2px solid #d1e8ed;">
                    <h5 class="card-title mb-0" >Configuration Menu</h5>
                </div>

                        <div class="list-group list-group-flush" role="tablist">

                        <a class="list-group-item list-group-item-action active"
                            data-toggle="list" href="#organism_tab" role="tab">
                            <i class="fa fa-bug mr-2"></i> Organisms
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#antibiotics_tab" role="tab">
                            <i class="fas fa-pills mr-2"></i> Antibiotics
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#breakpoints_tab" role="tab">
                            <i class="fas fa-chart-line mr-2"></i> Breakpoints
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#sitecode_tab" role="tab">
                            <i class="fas fa-hospital mr-2"></i> Site Code
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#specimen_tab" role="tab">
                            <i class="fas fa-vial mr-2"></i> Specimen Types
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#contact_tab" role="tab">
                            <i class="fas fa-user-md mr-2"></i> ARSP Staff
                        </a>
                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#emerging_tab" role="tab">
                            <i class="fa fa-exclamation-triangle mr-2"></i> Flag Age <small>(Emerging Resistance)</small>
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#pheno_pre_tab" role="tab">
                            <i class="ni ni-world mr-2"></i> Pre Phenotypes
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#pheno_post_tab" role="tab">
                            <i class="ni ni-planet mr-2"></i>  Post Phenotypes
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#recommendation_tab" role="tab">
                            <i class="fa fa-bolt mr-2"></i> Recommendations
                        </a>

                        <a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#tat_tab" role="tab">
                            <i class="fas fa-clock mr-2"></i> TAT Process
                        </a>

                        </div>

            </div>

        </div>

        <!-- RIGHT CONTENT AREA -->
        <div class="col-md-8 col-lg-9">

        <div id="settings-page" class="settings-container">

            <div class="tab-content settings-tab-content">


                <!-- Organisms -->
                <div class="tab-pane fade show active" id="organism_tab" role="tabpanel">
                    {% include "settings/tabs/organism_tab.html" %}
                </div>

                <!-- Antibiotics -->
                <div class="tab-pane fade" id="antibiotics_tab" role="tabpanel">
                    {% include "settings/tabs/antibiotics_tab.html" %}
                    
                </div>

                <!-- Breakpoints -->
                <div class="tab-pane fade" id="breakpoints_tab" role="tabpanel">
                    {% include "settings/tabs/breakpoints_tab.html" %}
                </div>

                <!-- Site Code -->
                <div class="tab-pane fade" id="sitecode_tab" role="tabpanel">
                    {% include "settings/tabs/sitecode_tab.html" %}
                </div>

                <!-- Specimen Type -->
                <div class="tab-pane fade" id="specimen_tab" role="tabpanel">
                    {% include "settings/tabs/specimen_tab.html" %}
                </div>

                <!-- ARSP Contact -->
                <div class="tab-pane fade" id="contact_tab" role="tabpanel">
                    {% include "settings/tabs/contact_tab.html" %}
                </div>
                <!-- Lab Result Recommendations -->
                <div class="tab-pane fade" id="emerging_tab" role="tabpanel">
                    {% include "settings/tabs/emerging_tab.html" %}
                </div>

                <!-- Lab Pre Phenotype -->
                <div class="tab-pane fade" id="pheno_pre_tab" role="tabpanel">
                    {% include "settings/tabs/pheno_pre_tab.html" %}
                </div>

                <!-- Lab Post Phenotype -->
                <div class="tab-pane fade" id="pheno_post_tab" role="tabpanel">
                    {% include "settings/tabs/pheno_post_tab.html" %}
                </div>


                 <!-- Emerging Resistance Classification -->
                <div class="tab-pane fade" id="recommendation_tab" role="tabpanel">
                    {% include "settings/tabs/recommendation_tab.html" %}
                </div>

                <!-- TAT -->
                <div class="tab-pane fade" id="tat_tab" role="tabpanel">
                    {% include "settings/tabs/tat_tab.html" %}
                </div>

            </div>
        </div>

        </div>

    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const params = new URLSearchParams(window.location.search);
    const tab = params.get("tab");

    if (tab) {
        const trigger = document.querySelector(
            `a[data-toggle="list"][href="#${tab}_tab"]`
        );
        if (trigger) trigger.click();
    }
});
</script>

{% endblock %}
