{% extends 'layouts/base.html' %}
{% load static %} 
{% load widget_tweaks %}

{% block title %} Add New Specimen Type {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<body>

  <div class="container">
    
    <div class="col-lg-12">
      <div class="text-right">
        <a href="{% url 'specimen_list' %}" class="btn btn-secondary mt-4">View all</a>
      </div>

      <!-- Page Title -->
      <div class="text-center text-muted mb-4">
        <h2>Add New / Update Specimen Type</h2>
      </div>

      <form method="POST" action="{% url 'add_specimen' %}" autocomplete="on" id="specimenForm">
        {% csrf_token %}
        
        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                
                   <!-- Specimen Code -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="Specimen_code">Specimen Code:</label> 
                    {{ form.Specimen_code|append_attr:"class: form-control" }} 
                  </div>
                </div>
                <!-- Specimen Name -->
                <div class="col-lg-6">
                  <div class="form-group">                    
                    <label class="form-control-label" for="Specimen_name">Specimen Name:</label> 
                    {{ form.Specimen_name|append_attr:"class: form-control" }}
                   
                  </div>
                </div>

             

              </div>
            </div>
          </div>
      </form>

      <!-- Buttons -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
        <button class="btn btn-secondary mt-4" onclick="history.back()">Back </button>
        <button type="button" class="btn btn-success mt-4" onclick="refresh()">Clear</button>
      </div>

    </div>
  </div>

  <!-- JavaScript for Form Reset -->
  <script>
    function refresh() {
      document.getElementById("specimenForm").reset();
    }
  </script>

</body>

{% endblock content %}
